*.aux
*.ccls-cache
*.egg-info
*.gv
*.log
*.pdf
*.py[cod]
*.so
*.whl
.DS_Store
.cache
.ccls
.coverage
compile_commands.json
MANIFEST
_build
_generate
build
coverage.xml
gh-pages/
htmlcov
src/libsemigroups_pybind11/_version.py
