*.egg-info
*.py[cod]
*.so
.DS_Store
.coverage
.tox
MANIFEST
_build
_generate
build
docs/source/api/*Mat.rst
docs/source/api/PPerm.rst
docs/source/api/Perm.rst
docs/source/api/Transf.rst
gh-pages/
htmlcov
