_build
_generate
.cache
.ccls
.coverage
.DS_Store
*.aux
*.ccls-cache
*.egg-info
*.fdb_latexmk
*.fls
*.gv
*.log
*.pdf
*.py[cod]
*.so
*.whl
build
compile_commands.json
coverage.xml
docs/pictures/to-table.synctex.gz
gh-pages/
htmlcov
MANIFEST
src/libsemigroups_pybind11/_version.py
