[tool.black]
line-length = 80
[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "pybind11==2.10.1",
    "pkgconfig>=1.5.0",
    "packaging==20.4",
]

build-backend = "setuptools.build_meta"
