[tool.black]
line-length = 80
[tool.ruff] 
lint.ignore = ["F401","E402"]
[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "pybind11==2.11.1",
    "pkgconfig>=1.5.5",
    "packaging==23.2",
]

build-backend = "setuptools.build_meta"
