graphviz==0.20.3
numpy==2.0.2
packaging==24.2
pkgconfig==1.5.5
pybind11==2.13.6
pyparsing==3.2.0
pytest==8.3.3
six==1.16.0
sphinx_rtd_theme==3.0.2
sphinx==7.4.7
sphinx-copybutton==0.5.2
sphinxcontrib-bibtex==2.6.3
typing_extensions==4.12.2