name: Run tests on custom libsemigroups branch
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch of libsemigroups to clone"
        required: true
        type: string
      fork:
        description: "The fork of libsemigroups to clone"
        required: false
        type: string
        default: libsemigroups/libsemigroups

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: "${{ inputs.branch }}, ${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macOS-latest"]
        include:
          - os: "ubuntu-latest"
            compiler: "ccache g++"
          - os: "macOS-latest"
            compiler: "ccache clang++"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    env:
      CXX: "ccache ${{ matrix.compiler }}"
      CXXFLAGS: "-O2 -g"
      UV_NO_SYNC: "1"
      LD_LIBRARY_PATH: "/usr/local/lib"
    steps:
      # Setup environment
      - uses: actions/checkout@v5
      - name: Set up Python . . .
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      # Build libsemigroups
      - name: "macOS only: Install libsemigroups dependencies . . ."
        if: ${{ matrix.os == 'macOS-latest' }}
        run: brew install autoconf automake libtool
      - name: "Setup ccache . . ."
        uses: Chocobo1/setup-ccache-action@v1
        with:
          update_packager_index: false
          install_ccache: true
      - name: "Install libsemigroups . . ."
        run: |
          git clone --depth 1 --branch ${{ inputs.branch }} https://github.com/${{ inputs.fork }}.git
          cd libsemigroups
          ./autogen.sh && ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" && sudo make install -j4
          ccache -s

      # Build libsemigroups_pybind11
      - name: "Install libsemigroups_pybind11 . . ."
        run: uv sync --locked --all-extras

        # Run the tests
      - name: "Running tests . . ."
        run: uv run pytest
      - name: "Running doc tests . . ."
        run: uv run make doctest
